# .env.prod
# .env.prod.db
# .env.dev
# .env.dev.db

# db
db/

# server
server/app/__pycache__

# web
**/node_modules
web/.pnp
web/.pnp.js
web/coverage
web/build
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*